<section class="banner">
    <!-- <div class="servicename">
            <h1>A/C Installation, Repair and maintenance</h1>
            <h1>Plumbing and sanitary </h1>
            <h1>False Ceiling and painting</h1>
            <h1>Electrical installation , CCTV and lightening services</h1>
            <h1>Handy man Services</h1>
            <h1>Pest Control</h1>
            <h1>Swimming Pool Installation and maintenance</h1>
            <h1>Tiles, Plaster, And Block Works</h1>
            <h1>Aluminium and Glass Works</h1>
            <h1>Carpentry Works</h1>
            <h1>Annual Maintenance Contract</h1>
        </div> -->
    <div class="serviceImg">

        <a href="/acservice" class="box">

            <img src="/images/myservices/acinstala.jpg" alt="">
            <img src="/images/myservices/acinstala.jpg" alt="">
            <img src="/images/myservices/acinstala.jpg" alt="">
            <img src="/images/myservices/acinstala.jpg" alt="">
        </a>

        <a href="/handiman" class="box">

            <img src="/images/myservices/betterwayhandman.jpg" alt="">
            <img src="/images/myservices/betterwayhandman.jpg" alt="">
            <img src="/images/myservices/betterwayhandman.jpg" alt="">
            <img src="/images/myservices/betterwayhandman.jpg" alt="">

        </a>
        <a href="/carpenter" class="box">

            <img src="/images/myservices/carpenter.jpg" alt="">
            <img src="/images/myservices/carpenter.jpg" alt="">
            <img src="/images/myservices/carpenter.jpg" alt="">
            <img src="/images/myservices/carpenter.jpg" alt="">

        </a>
        <a href="/ceiling" class="box">

            <img src="/images/myservices/ceiling.jpg" alt="">
            <img src="/images/myservices/ceiling.jpg" alt="">
            <img src="/images/myservices/ceiling.jpg" alt="">
            <img src="/images/myservices/ceiling.jpg" alt="">

        </a>
        <a href="/cctv" class="box">

            <img src="/images/myservices/electricalcctv.jpg" alt="">
            <img src="/images/myservices/electricalcctv.jpg" alt="">
            <img src="/images/myservices/electricalcctv.jpg" alt="">
            <img src="/images/myservices/electricalcctv.jpg" alt="">

        </a>
        <a href="/glass" class="box">

            <img src="/images/myservices/glass.jpg" alt="">
            <img src="/images/myservices/glass.jpg" alt="">
            <img src="/images/myservices/glass.jpg" alt="">
            <img src="/images/myservices/glass.jpg" alt="">

        </a>
        <a href="/pestservice" class="box">

            <img src="/images/myservices/pestcontrol.jpg" alt="">
            <img src="/images/myservices/pestcontrol.jpg" alt="">
            <img src="/images/myservices/pestcontrol.jpg" alt="">
            <img src="/images/myservices/pestcontrol.jpg" alt="">

        </a>
        <a href="/plumbing" class="box">

            <img src="/images/myservices/plumb.jpg" alt="">
            <img src="/images/myservices/plumb.jpg" alt="">
            <img src="/images/myservices/plumb.jpg" alt="">
            <img src="/images/myservices/plumb.jpg" alt="">

        </a>
        <a href="/tiles" class="box">

            <img src="/images/myservices/tiles.jpg" alt="">
            <img src="/images/myservices/tiles.jpg" alt="">
            <img src="/images/myservices/tiles.jpg" alt="">
            <img src="/images/myservices/tiles.jpg" alt="">

        </a>
        <a href="/swimmingpool" class="box">

            <img src="/images/myservices/swimmingpool.jpg" alt="">
            <img src="/images/myservices/swimmingpool.jpg" alt="">
            <img src="/images/myservices/swimmingpool.jpg" alt="">
            <img src="/images/myservices/swimmingpool.jpg" alt="">

        </a>

    </div>

    <img class="imagediv" src="/images/myservices/bg.jpg" alt="">


</section>



<!-- services section start here  -->


<section class="servicesWrapper bg-gray-100 pb-20" id="services">
    <div class="serviceTXT container mx-auto text-center py-6">
        <h5 class="py-2 font-bold">CHOOSE YOUR SERVICE</h5>
        <h1 class="py-2 font-black text-3xl">How can we help you today?</h1>
    </div>

    <!-- service wrapper div  -->
    <div class="servicesDiv  mx-auto px-6 py-6">

        <!-- service cards  -->
        <a class="serviceCard bg-white flex flex-col justify-center item-center" href="/cctv">
            <div class="imagediv mx-auto pt-6 pb-2">
                <img src="/images/services/cctv.png" alt="CCTV Service" style="max-height: 70px">
            </div>
            <div class="text-center pb-4 pt-2">
                <h1 class="text-lg font-bold">CCTV Service</h1>
            </div>
        </a>

        <a class="serviceCard bg-white flex flex-col justify-center item-center" href="/carpenter">
            <div class="imagediv mx-auto pt-6 pb-2">
                <img src="/images/services/carpanter.png" alt="Carpanter Service" style="max-height: 70px">
            </div>
            <div class="text-center pb-4 pt-2">
                <h1 class="text-lg font-bold">Carpanter Service</h1>
            </div>
        </a>

        <a class="serviceCard bg-white flex flex-col justify-center item-center" href="/swimmingpool">
            <div class="imagediv mx-auto pt-6 pb-2">
                <img src="/images/services/swiming.png" alt="Swiming Pool Service" style="max-height: 70px">
            </div>
            <div class="text-center pb-4 pt-2">
                <h1 class="text-lg font-bold">Swiming Pool Service</h1>
            </div>
        </a>

        <a class="serviceCard bg-white flex flex-col justify-center item-center" href="/plumbing">
            <div class="imagediv mx-auto pt-6 pb-2">
                <img src="/images/services/1989672.png" alt="Plumbing Service" style="max-height: 70px">
            </div>
            <div class="text-center pb-4 pt-2">
                <h1 class="text-lg font-bold">Plumbring Service</h1>
            </div>
        </a>

        <a class="serviceCard bg-white flex flex-col justify-center item-center" href="/ceiling">
            <div class="imagediv mx-auto pt-6 pb-2">
                <img src="/images/services/ceiling.png" alt="Ceiling Service" style="max-height: 70px">
            </div>
            <div class="text-center pb-4 pt-2">
                <h1 class="text-lg font-bold">Ceiling Service</h1>
            </div>
        </a>

        <a class="serviceCard bg-white flex flex-col justify-center item-center" href="/handiman">
            <div class="imagediv mx-auto pt-6 pb-2">
                <img src="/images/services/handyman.png" alt="Handyman Service" style="max-height: 70px">
            </div>
            <div class="text-center pb-4 pt-2">
                <h1 class="text-lg font-bold">Handyman Service</h1>
            </div>
        </a>

        <a class="serviceCard bg-white flex flex-col justify-center item-center" href="/acservice">
            <div class="imagediv mx-auto pt-6 pb-2">
                <img src="/images/services/aircondition.png" alt="AC Service" style="max-height: 70px">
            </div>
            <div class="text-center pb-4 pt-2">
                <h1 class="text-lg font-bold">AC Service</h1>
            </div>
        </a>

        <a class="serviceCard bg-white flex flex-col justify-center item-center" href="/glass">
            <div class="imagediv mx-auto pt-6 pb-2">
                <img src="/images/services/glass.png" alt="Glass & Aluminium Service" style="max-height: 70px">
            </div>
            <div class="text-center pb-4 pt-2">
                <h1 class="text-lg font-bold">Glass & Aluminium Service</h1>
            </div>
        </a>

        <a class="serviceCard bg-white flex flex-col justify-center item-center" href="/tiles">
            <div class="imagediv mx-auto pt-6 pb-2">
                <img src="/images/services/tiles.png" alt="Tiles Service" style="max-height: 70px">
            </div>
            <div class="text-center pb-4 pt-2">
                <h1 class="text-lg font-bold">Tiles Service</h1>
            </div>
        </a>

        <a class="serviceCard bg-white flex flex-col justify-center item-center" href="/watertank">
            <div class="imagediv mx-auto pt-6 pb-2">
                <img src="/images/services/water.png" alt="WaterTank Cleaning Service" style="max-height: 70px">
            </div>
            <div class="text-center pb-4 pt-2">
                <h1 class="text-lg font-bold">WaterTank Cleaning Service</h1>
            </div>
        </a>

        <a class="serviceCard bg-white flex flex-col justify-center item-center" href="/electrical">
            <div class="imagediv mx-auto pt-6 pb-2">
                <img src="/images/services/electricity.png" alt="Electrical Service" style="max-height: 70px">
            </div>
            <div class="text-center pb-4 pt-2">
                <h1 class="text-lg font-bold">Electrical Service</h1>
            </div>
        </a>

        <a class="serviceCard bg-white flex flex-col justify-center item-center" href="/pestservice">
            <div class="imagediv mx-auto pt-6 pb-2">
                <img src="/images/services/pest.png" alt="Pest Service" style="max-height: 70px">
            </div>
            <div class="text-center pb-4 pt-2">
                <h1 class="text-lg font-bold">Pest Service</h1>
            </div>
        </a>

        <a class="serviceCard bg-white flex flex-col justify-center item-center" href="/maintanance">
            <div class="imagediv mx-auto pt-6 pb-2">
                <img src="/images/services/maintain.png" alt="Maintenance Service" style="max-height: 70px">
            </div>
            <div class="text-center pb-4 pt-2">
                <h1 class="text-lg font-bold">Maintenance Service</h1>
            </div>
        </a>

        <a class="serviceCard bg-white flex flex-col justify-center item-center" href="/specialcleaning">
            <div class="imagediv mx-auto pt-6 pb-2">
                <img src="/images/services/3238681.png" alt="Special Cleaning Service" style="max-height: 70px">
            </div>
            <div class="text-center pb-4 pt-2">
                <h1 class="text-lg font-bold">Special Cleaning Service</h1>
            </div>
        </a>

        <a class="serviceCard bg-white flex flex-col justify-center item-center" href="/paintaing">
            <div class="imagediv mx-auto pt-6 pb-2">
                <img src="/images/services/painting.png" alt="Painting Service" style="max-height: 70px">
            </div>
            <div class="text-center pb-4 pt-2">
                <h1 class="text-lg font-bold">Painting Service</h1>
            </div>
        </a>

    </div>

</section>

<!-- fARNEK GROUP start here  -->

<section class="farnek_group">
    <div class="farnek_div">
        <div class="farnek_wrapper container mx-auto flex justify-center mt-6">
            <div class="system  mt-8">
                    <img src="/images/select.png" alt="">
                <div>
                    <span class="title">Select</span>
                    <p class="desc">Select the service(s) <br> you need</p>
                </div>
            </div>

            <div class="arrow">
                <img src="/images/right-arrow.png" alt="">
            </div>

            <div class="calender mt-8">
                    <img src="/images/book.png" alt="">
                <div>
                    <span class="title">Book</span>
                    <p class="desc">Book a date and time <br>that suits you</p>
                </div>
            </div>

            <div class="arrow">
                <img src="/images/right-arrow.png" alt="">
            </div>

            <div class="chair mt-6">
                    <img src="/images/relax.png" alt="">
                <div>
                    <span class="title">Relax</span>
                    <p class="desc">Sit back and relax <br> while we get to work</p>
                </div>
            </div>
        </div>
        <div class="welcome_row mt-50">
            <div class="welcome_note relative">
                <p>
                    Welcome to Hitches &amp; Glitches, part of the Farnek Group, and the largest independent home
                    maintenance<br> company in the UAE. With a reputation based on quality, reliability and value
                    for money we work hard to keep <br> our customers happy.
                </p>

            </div>
        </div>
    </div>
</section>

<!-- PACKAGES section start here  -->

<section class="maintenanceSection  pb-3">
    <div class="maintenancetxt container mx-auto text-center py-8">
        <h1 class="py-4 font-black text-3xl">Maintenance Packages</h1>
    </div>

    <div class="maintenanceDiv container mx-auto px-6 py-6">
        <div class="wrapper mx-auto">

            <div class="package flex flex-col justify-center item-center text-center">

                <div class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" height="50" viewBox="0 0 94.776 74.59">
                        <g transform="translate(-199 -3561.805)">
                            <g transform="translate(199 3561.805)">
                                <path
                                    d="M115.776,40.506v-.091c0-.091,0-.183-.113-.183,0,0,0-.091-.113-.091,0-.091-.113-.091-.225-.183l-.113-.091-.113-.091s-.113,0-.113-.091h-.113l-45.641-17.2a2.024,2.024,0,0,0-1.465,0L50.413,28.981H50.3l-9.016,3.476h-.113L22.014,39.591H21.9s-.113,0-.113.091l-.113.091-.113.091-.225.183-.113.091c0,.091-.113.183-.113.183L21,40.414v38.05a1.563,1.563,0,0,0,1.014,1.281l45.754,17.1h.225c.113,0,.338.091.451.091a.8.8,0,0,0,.451-.091h.225l45.641-17.1a1.343,1.343,0,0,0,.9-1.281V40.872C115.663,40.689,115.776,40.6,115.776,40.506ZM89.743,51.665l5.635-2.1v9.878L92.11,62.823l-2.367-1.1ZM41.961,35.2l41.7,15.549L68.444,56.421l-41.7-15.549Zm9.016-3.384,41.7,15.549L87.6,49.287l-41.7-15.549Zm17.468-6.494,41.7,15.549L96.73,45.9l-41.7-15.549ZM24.381,42.975,67.2,58.8V93.373L24.381,77.549Zm46.2,50.4V58.8l15.777-5.945v9.6a1.18,1.18,0,0,0,.676,1.189l4.4,2.1a1.887,1.887,0,0,0,2.141-.366l4.733-4.665a1.512,1.512,0,0,0,.451-.823V48.28l13.523-5.3V77.549Z"
                                    transform="translate(-21 -22.35)" fill="#4d4d4d"></path>
                                <path d="M59.443,194.677v-7.325L56.4,186v7.325Z"
                                    transform="translate(-43.102 -137.313)" fill="#4d4d4d"></path>
                                <g transform="translate(17.693 50.24)">
                                    <path d="M70.354,199.552v-7.325L68.1,191.1v7.325Z"
                                        transform="translate(-68.1 -191.1)" fill="#4d4d4d"></path>
                                </g>
                                <g transform="translate(10.03 47.521)">
                                    <path d="M49.39,189.914v-7.325L47.7,181.8v7.325Z"
                                        transform="translate(-47.7 -181.8)" fill="#4d4d4d"></path>
                                </g>
                                <g transform="translate(6.311 46.148)">
                                    <path d="M40.054,185.639v-7.325L37.8,177.3v7.325Z"
                                        transform="translate(-37.8 -177.3)" fill="#4d4d4d"></path>
                                </g>
                            </g>
                            <path d="M283.663,3592.822l-5.923,2.365v9.977l2.77,1.468,3.153-3.615Z"
                                transform="translate(-10.275 -4.048)" fill="#f57f29"></path>
                            <path d="M233.193,3572.668l41.723,15.643-6.053,2.2-43.371-15.945,8.563-3.76"
                                transform="translate(-3.457 -1.174)" fill="#f57f29"></path>
                        </g>
                    </svg>
                </div>

                <h2 class="package-title mx-auto">BASIC</h2>
                <span>Starting at</span>
                <h2 class="package-cost">AED 121/<span class="text-muted">MONTH</span></h2>
                <a href="" type="button" class="px-6 py-2 font-bold mt-6 mx-4 package_btn">Select Plan</a>

            </div>
            <div class="package flex flex-col justify-center item-center text-center">

                <div class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" height="50" viewBox="0 0 94.776 74.59">
                        <g transform="translate(-199 -3561.805)">
                            <g transform="translate(199 3561.805)">
                                <path
                                    d="M115.776,40.506v-.091c0-.091,0-.183-.113-.183,0,0,0-.091-.113-.091,0-.091-.113-.091-.225-.183l-.113-.091-.113-.091s-.113,0-.113-.091h-.113l-45.641-17.2a2.024,2.024,0,0,0-1.465,0L50.413,28.981H50.3l-9.016,3.476h-.113L22.014,39.591H21.9s-.113,0-.113.091l-.113.091-.113.091-.225.183-.113.091c0,.091-.113.183-.113.183L21,40.414v38.05a1.563,1.563,0,0,0,1.014,1.281l45.754,17.1h.225c.113,0,.338.091.451.091a.8.8,0,0,0,.451-.091h.225l45.641-17.1a1.343,1.343,0,0,0,.9-1.281V40.872C115.663,40.689,115.776,40.6,115.776,40.506ZM89.743,51.665l5.635-2.1v9.878L92.11,62.823l-2.367-1.1ZM41.961,35.2l41.7,15.549L68.444,56.421l-41.7-15.549Zm9.016-3.384,41.7,15.549L87.6,49.287l-41.7-15.549Zm17.468-6.494,41.7,15.549L96.73,45.9l-41.7-15.549ZM24.381,42.975,67.2,58.8V93.373L24.381,77.549Zm46.2,50.4V58.8l15.777-5.945v9.6a1.18,1.18,0,0,0,.676,1.189l4.4,2.1a1.887,1.887,0,0,0,2.141-.366l4.733-4.665a1.512,1.512,0,0,0,.451-.823V48.28l13.523-5.3V77.549Z"
                                    transform="translate(-21 -22.35)" fill="#4d4d4d"></path>
                                <path d="M59.443,194.677v-7.325L56.4,186v7.325Z"
                                    transform="translate(-43.102 -137.313)" fill="#4d4d4d"></path>
                                <g transform="translate(17.693 50.24)">
                                    <path d="M70.354,199.552v-7.325L68.1,191.1v7.325Z"
                                        transform="translate(-68.1 -191.1)" fill="#4d4d4d"></path>
                                </g>
                                <g transform="translate(10.03 47.521)">
                                    <path d="M49.39,189.914v-7.325L47.7,181.8v7.325Z"
                                        transform="translate(-47.7 -181.8)" fill="#4d4d4d"></path>
                                </g>
                                <g transform="translate(6.311 46.148)">
                                    <path d="M40.054,185.639v-7.325L37.8,177.3v7.325Z"
                                        transform="translate(-37.8 -177.3)" fill="#4d4d4d"></path>
                                </g>
                            </g>
                            <path d="M283.663,3592.822l-5.923,2.365v9.977l2.77,1.468,3.153-3.615Z"
                                transform="translate(-10.275 -4.048)" fill="#f57f29"></path>
                            <path d="M233.193,3572.668l41.723,15.643-6.053,2.2-43.371-15.945,8.563-3.76"
                                transform="translate(-3.457 -1.174)" fill="#f57f29"></path>
                        </g>
                    </svg>
                </div>

                <h2 class="package-title mx-auto">STANDARD</h2>
                <span>Starting at</span>
                <h2 class="package-cost">AED 209/<span class="text-muted">MONTH</span></h2>
                <a href="" type="button" class="px-6 py-2 font-bold mt-6 mx-4 package_btn">Select Plan</a>
            </div>
            <div class="package flex flex-col justify-center item-center text-center">

                <div class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" height="50" viewBox="0 0 94.776 74.59">
                        <g transform="translate(-199 -3561.805)">
                            <g transform="translate(199 3561.805)">
                                <path
                                    d="M115.776,40.506v-.091c0-.091,0-.183-.113-.183,0,0,0-.091-.113-.091,0-.091-.113-.091-.225-.183l-.113-.091-.113-.091s-.113,0-.113-.091h-.113l-45.641-17.2a2.024,2.024,0,0,0-1.465,0L50.413,28.981H50.3l-9.016,3.476h-.113L22.014,39.591H21.9s-.113,0-.113.091l-.113.091-.113.091-.225.183-.113.091c0,.091-.113.183-.113.183L21,40.414v38.05a1.563,1.563,0,0,0,1.014,1.281l45.754,17.1h.225c.113,0,.338.091.451.091a.8.8,0,0,0,.451-.091h.225l45.641-17.1a1.343,1.343,0,0,0,.9-1.281V40.872C115.663,40.689,115.776,40.6,115.776,40.506ZM89.743,51.665l5.635-2.1v9.878L92.11,62.823l-2.367-1.1ZM41.961,35.2l41.7,15.549L68.444,56.421l-41.7-15.549Zm9.016-3.384,41.7,15.549L87.6,49.287l-41.7-15.549Zm17.468-6.494,41.7,15.549L96.73,45.9l-41.7-15.549ZM24.381,42.975,67.2,58.8V93.373L24.381,77.549Zm46.2,50.4V58.8l15.777-5.945v9.6a1.18,1.18,0,0,0,.676,1.189l4.4,2.1a1.887,1.887,0,0,0,2.141-.366l4.733-4.665a1.512,1.512,0,0,0,.451-.823V48.28l13.523-5.3V77.549Z"
                                    transform="translate(-21 -22.35)" fill="#4d4d4d"></path>
                                <path d="M59.443,194.677v-7.325L56.4,186v7.325Z"
                                    transform="translate(-43.102 -137.313)" fill="#4d4d4d"></path>
                                <g transform="translate(17.693 50.24)">
                                    <path d="M70.354,199.552v-7.325L68.1,191.1v7.325Z"
                                        transform="translate(-68.1 -191.1)" fill="#4d4d4d"></path>
                                </g>
                                <g transform="translate(10.03 47.521)">
                                    <path d="M49.39,189.914v-7.325L47.7,181.8v7.325Z"
                                        transform="translate(-47.7 -181.8)" fill="#4d4d4d"></path>
                                </g>
                                <g transform="translate(6.311 46.148)">
                                    <path d="M40.054,185.639v-7.325L37.8,177.3v7.325Z"
                                        transform="translate(-37.8 -177.3)" fill="#4d4d4d"></path>
                                </g>
                            </g>
                            <path d="M283.663,3592.822l-5.923,2.365v9.977l2.77,1.468,3.153-3.615Z"
                                transform="translate(-10.275 -4.048)" fill="#f57f29"></path>
                            <path d="M233.193,3572.668l41.723,15.643-6.053,2.2-43.371-15.945,8.563-3.76"
                                transform="translate(-3.457 -1.174)" fill="#f57f29"></path>
                        </g>
                    </svg>
                </div>

                <h2 class="package-title mx-auto">EXECUTIVE</h2>
                <span>Starting at</span>
                <h2 class="package-cost">AED 314/<span class="text-muted">MONTH</span></h2>
                <a href="" type="button" class="px-6 py-2 font-bold mt-6 mx-4 package_btn">Select Plan</a>
            </div>
            <div class="package flex flex-col justify-center item-center text-center">

                <div class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" height="60" viewBox="0 0 149.012 112.48">
                        <g transform="translate(-1581.493 -4168.609)">
                            <g transform="matrix(0.899, 0.438, -0.438, 0.899, 1691.881, 4181.816)">
                                <path
                                    d="M7.444,20.037H5.6l0-13.478,1.075-.934a.633.633,0,0,0,.194-.653L5.576.459A.633.633,0,0,0,4.967,0H3.1a.634.634,0,0,0-.609.459L1.2,4.972a.633.633,0,0,0,.194.653l1.075.934,0,13.478H.634A.634.634,0,0,0,0,20.671v1.893a.634.634,0,0,0,.634.634.282.282,0,0,1,.281.281v.068a.282.282,0,0,1-.281.281A.634.634,0,0,0,0,24.463V35.378a2.662,2.662,0,0,0,2.658,2.661H5.417a2.664,2.664,0,0,0,2.661-2.661V24.464a.634.634,0,0,0-.634-.634.282.282,0,0,1-.281-.281V23.48a.282.282,0,0,1,.281-.281.634.634,0,0,0,.634-.634V20.671A.634.634,0,0,0,7.444,20.037ZM3.733,6.239c0-.014,0-.028,0-.042a.627.627,0,0,0-.014-.081c0-.013-.008-.025-.012-.038A.656.656,0,0,0,3.675,6c-.006-.014-.014-.026-.021-.039A.613.613,0,0,0,3.613,5.9c-.009-.013-.02-.025-.03-.037A.734.734,0,0,0,3.53,5.8L3.517,5.79,2.53,4.932,3.579,1.268h.909L5.537,4.932l-.986.858c-.005,0-.008.01-.013.014a.606.606,0,0,0-.053.056c-.01.012-.021.024-.03.037a.661.661,0,0,0-.041.066c-.007.013-.015.025-.021.038a.68.68,0,0,0-.029.076c0,.013-.008.025-.012.038a.632.632,0,0,0-.014.081c0,.014,0,.027,0,.042s0,.02,0,.031l0,13.767h-.6l0-13.767C3.736,6.259,3.734,6.249,3.733,6.239ZM6.81,22.066a1.551,1.551,0,0,0-.915,1.414v.068a1.551,1.551,0,0,0,.915,1.414V35.378a1.4,1.4,0,0,1-1.393,1.393H2.659a1.393,1.393,0,0,1-1.39-1.393V24.962a1.551,1.551,0,0,0,.915-1.414V23.48a1.552,1.552,0,0,0-.915-1.414V21.3H6.81Z"
                                    transform="translate(0)" fill="#f57f29"></path>
                            </g>
                            <path
                                d="M32.5,0H30.744a3.178,3.178,0,0,0-3.018,2.217h-2.1A2.909,2.909,0,0,0,22.81,0H13.455a2.905,2.905,0,0,0-2.616,1.66A23.623,23.623,0,0,0,5.856,3.244,47.536,47.536,0,0,0,.374,6.837.938.938,0,0,0,0,7.586V9.147a.936.936,0,0,0,1.215.893c1.228-.385,4.618-1.409,5.547-1.526a14.368,14.368,0,0,1,4.062.536,2.907,2.907,0,0,0,2.632,1.687h1.671V27.852a2.869,2.869,0,0,0-2.1,2.609L11.91,51.754a4.38,4.38,0,0,0,4.375,4.375h3.695a4.388,4.388,0,0,0,4.374-4.424L23.242,30.462a2.867,2.867,0,0,0-2.1-2.609V10.737H22.81a2.909,2.909,0,0,0,2.818-2.216h2.1a3.178,3.178,0,0,0,3.018,2.216H32.5a.935.935,0,0,0,.935-.935V.935A.935.935,0,0,0,32.5,0ZM6.527,6.658a39.744,39.744,0,0,0-4.243,1.1A38.2,38.2,0,0,1,6.677,4.925a20.133,20.133,0,0,1,3.869-1.282V7.069A14.565,14.565,0,0,0,6.527,6.658Zm15.957,45.1a2.507,2.507,0,0,1-2.5,2.5H16.286A2.5,2.5,0,0,1,13.78,51.8L14.892,30.56a1.007,1.007,0,0,1,1.005-.954h4.471a1.006,1.006,0,0,1,1.005.954ZM19.268,27.735H17v-17h2.271ZM23.85,7.828a1.04,1.04,0,0,1-1.04,1.039H13.455a1.04,1.04,0,0,1-1.04-1.039V2.911a1.041,1.041,0,0,1,1.04-1.04H22.81a1.041,1.041,0,0,1,1.04,1.04V7.828Zm1.871-3.739h1.839V6.65H25.721Zm5.843,4.778h-.82A1.315,1.315,0,0,1,29.43,7.553V3.185a1.315,1.315,0,0,1,1.313-1.314h.82Z"
                                transform="matrix(0.899, 0.438, -0.438, 0.899, 1651.057, 4169.112)" fill="#f57f29">
                            </path>
                            <g transform="translate(1607.526 4194.48) rotate(-50)">
                                <path
                                    d="M24.727,0c-3.472.058-7.258,1.706-8.878,5.136a9.731,9.731,0,0,0,.861,9.534c-2.681,5.654-5.232,10.723-7.928,16.411a9.894,9.894,0,0,0-7.506,4.908A9.744,9.744,0,0,0,.011,41.441a8.973,8.973,0,0,0,1.934,5.435,1.125,1.125,0,0,0,1.846-.193l3.99-7.476L11.4,41.019,7.974,47.9a1.126,1.126,0,0,0,1.037,1.636c3.472-.058,7.258-1.723,8.878-5.154a9.725,9.725,0,0,0-.879-9.516c2.681-5.656,5.232-10.725,7.928-16.411a10.18,10.18,0,0,0,8.139-5.611c1.537-3.332.35-7.466-1.846-10.184A1.125,1.125,0,0,0,29.35,2.9L25.9,10.29,22.319,8.5l3.428-6.878A1.126,1.126,0,0,0,24.727,0ZM22.776,2.515,19.787,8.5a1.126,1.126,0,0,0,.5,1.51l.005,0,5.625,2.814a1.125,1.125,0,0,0,1.513-.494l.017-.034,3.059-6.561c.969,2.011,1.31,4.477.527,6.174a8.338,8.338,0,0,1-6.873,4.415,1.125,1.125,0,0,0-1,.633C20.3,23.015,17.6,28.311,14.724,34.406a1.126,1.126,0,0,0,.141,1.2,7.706,7.706,0,0,1,.984,7.81,7.179,7.179,0,0,1-4.9,3.606l2.989-6a1.126,1.126,0,0,0-.5-1.51l-.005,0L7.8,36.692a1.125,1.125,0,0,0-1.494.475L2.771,43.8a7.877,7.877,0,0,1,.422-6.631,7.408,7.408,0,0,1,6.381-3.958,1.125,1.125,0,0,0,1-.651C13.436,26.5,16.136,21.2,19.014,15.11a1.126,1.126,0,0,0-.158-1.2,7.7,7.7,0,0,1-.967-7.81A7.126,7.126,0,0,1,22.776,2.515Z"
                                    transform="translate(0)" fill="#f57f29"></path>
                            </g>
                            <g transform="translate(1582 4195.134)">
                                <path
                                    d="M91.732,68.939a4.042,4.042,0,0,0-.473.044L37.442,78.792a3.429,3.429,0,0,0-2.05,1.182L18.574,100.993a2.527,2.527,0,0,0,.89,3.893,3.855,3.855,0,0,0,1.9.485H34.814v37.834a3,3,0,0,0,2.733,2.715l53.291,8.32q.156.028.316.043l.21.044q.156.029.315.044h.105a3.912,3.912,0,0,0,.578,0q.106-.019.21-.044h.053l.158-.044q.132-.017.262-.043l53.4-8.32a3,3,0,0,0,2.733-2.715V105.372h13.454a3.124,3.124,0,0,0,3.368-2.8,2.489,2.489,0,0,0-.582-1.579L148.6,79.974a3.432,3.432,0,0,0-2.05-1.182L92.73,68.983A4.017,4.017,0,0,0,91.732,68.939Zm-5.1,6.612L71.445,99.767H27.614l12.613-15.72,1.618-.3Zm10.721,0,46.406,8.5,12.613,15.72H112.544Zm-8.724,8.977v63.713l-47.089-7.356V105.372H73.495a3.491,3.491,0,0,0,3-1.532l12.14-19.311Zm6.727,0,12.14,19.311a3.491,3.491,0,0,0,3,1.532h31.954v35.513l-47.09,7.357V84.528Z"
                                    transform="translate(-17.992 -68.926)" fill="#4d4d4d" stroke="#f7f7f7"
                                    stroke-width="1"></path>
                            </g>
                            <path d="M1664.3,3576.567l-14.837,24.979h-46.51l14.161-16.97Z"
                                transform="translate(-13.14 624.583)" fill="#fff"></path>
                            <path
                                d="M1664.373,3582.9s.6-1.161.365,2.237-.2,63.988-.2,63.988l-47.65-6.978V3604.9h33.134Z"
                                transform="translate(-11.415 625.343)" fill="#fff"></path>
                            <path d="M1666.21,3576.567l15.346,25.743h44.628l-12.444-17.324Z"
                                transform="translate(-5.314 624.583)" fill="#fff"></path>
                            <path d="M1666.412,3584.907l12.024,20.056h34.054v37.174l-47.921,7.484v-64.714Z"
                                transform="translate(-5.516 625.615)" fill="#fff"></path>
                        </g>
                    </svg>
                </div>

                <h2 class="package-title mx-auto">CUSTOM</h2>
                <span>Customize <br> your package</span>
                <a href="" type="button" class="px-6 py-2 font-bold mt-6 mx-4 package_btn">Request Now</a>
            </div>

        </div>
    </div>
</section>


<section class="aboutshort">
    <div class="about_wrapper flex justify-center item-center mx-auto">
        <div class="column w-80 my-4 flex flex-col justify-center item-center text-center responive">
            <h1 class="text-3xl font-bold py-2">40+ YEARS</h1>
            <h4 class="text-sm py-1">OF EXPERTISE IN UAE</h4>
        </div>

        <div class="column w-80  my-4 flex flex-col justify-center item-centet text-center responive">
            <h1 class="text-3xl font-bold">8000+</h1>
            <h4 class="text-sm py-1">STAFF</h4>
        </div>

        <div class="column w-80 my-4 flex flex-col justify-center item-center text-center responive">
            <h1 class="text-3xl font-bold">3000+</h1>
            <h4 class="text-sm py-1">CUSTOMERS</h4>
        </div>



        <div class="column w-64 my-4 flex flex-col justify-center item-center text-center responive">
            <h1 class="text-3xl font-bold">2,500+</h1>
            <h4 class="text-sm py-1">PROPERTIES MANAGED</h4>
        </div>

    </div>
</section>


<!-- Latest news section start here  -->
<section class="tipSection py-12">
    <div class="tipheader container mx-auto my-4 text-center py-8">
        <h1 class="font-black text-4xl">Latest News</h1>
    </div>
    <div class="tipWrapper container mx-auto pb-4">
        <div class="column pb-1">
            <div class="image relative">
                <img src="/images/tip1.jpg" alt="">
                <div class="date">
                    <a href="">04 May 2007</a>
                </div>
            </div>
            <div class="content mt-6 px-4">
                <p>HM Tech now serves customers through Amazon Home Services</p>
                <a href="" class="mt-6">Read More <span class="font-black">>></span></a>

            </div>
        </div>
        <div class="column">
            <div class="image relative">
                <img src="/images/tip2.jpg" alt="">
                <div class="date">
                    <a href="">02 Jan 2018</a>
                </div>
            </div>
            <div class="content mt-6 px-4">
                <p>HM Tech adds first electric motorbike to home maintenance fleet</p>
                <a href="" class="">Read More <span class="font-black">>></span></a>

            </div>
        </div>
        <div class="column">
            <div class="image relative">
                <img src="/images/tip3.jpg" alt="">
                <div class="date">
                    <a href="">08 August 2010</a>
                </div>
            </div>
            <div class="content mt-6 px-4">
                <p>Indoor air quality paramount especially with spectre of new COVID-19 strain</p>
                <a href="" class="">Read More <span class="font-black">>></span></a>

            </div>
        </div>
    </div>
</section>

<!-- OFFERS section start here  -->

<!-- <section class="offerSection pb-20">
    <div class="maintenancetxt container bg-white mx-auto text-center py-8">
        <h1 class="py-4 font-black text-4xl">Special Offers</h1>
    </div>


    <div class="offerDiv container mx-auto px-6 py-6 flex justify-center item-center">
        <div class="offer_culmn1 flex flex-col">
            <div class="img1">
                <img src="./img/offer/offer_1.jpg" alt="">
            </div>
            <div class="img2">
                <img src="./img/offer/offer_2.jpg" alt="">
            </div>
        </div>
        <div class="offer_culmn2">
            <div class="img3">
                <img src="./img/offer/offer_3.jpg" alt="">
            </div>
        </div>
    </div>
</section> -->



<!-- client sections -->
<section class="clients_sec">
    <div class="clientHeader container mx-auto text-center py-4">
        <h1 class="font-black text-4xl">We Work with</h1>
    </div>
    <div class="client_wrapper flex item-center justify-center py-6">
        <img src="https://i.pinimg.com/originals/91/d7/49/91d749035654113ee4d8df1ac5f1d6f3.png" alt="">
        <img src="https://i.pinimg.com/originals/91/d7/49/91d749035654113ee4d8df1ac5f1d6f3.png" alt="">
        <img src="https://i.pinimg.com/originals/91/d7/49/91d749035654113ee4d8df1ac5f1d6f3.png" alt="">
        <img src="https://i.pinimg.com/originals/91/d7/49/91d749035654113ee4d8df1ac5f1d6f3.png" alt="">
        <img src="https://i.pinimg.com/originals/91/d7/49/91d749035654113ee4d8df1ac5f1d6f3.png" alt="">
    </div>
</section>


<!-- FORM section start here  -->
<section class="formSection" id="contact">
    <div class="testimonails w-2/4">
        <div class="padder mt-6 ml-4">
            <h2>Testimonials</h2>
            <div class="rating-star py-4">
                <i class="fa fa-star star_icon"></i>
                <i class="fa fa-star star_icon"></i>
                <i class="fa fa-star star_icon"></i>
                <i class="fa fa-star star_icon"></i>
                <i class="fa fa-star star_icon"></i>
            </div>
            <h3 class="text-xl">Craig Fraser</h3>
            <div class="testimonial-content">
                Your call centre's person on duty was very clear and organized. The technicians who arrived were
                excellent in every way and got the job done with minimum fuss. An excellent job all round, well..
            </div>
        </div>
    </div>

    <div class="formDiv  px-4 ">
        <div class="formText">
            <h1>Contact Us for more information</h1>
            <h6>Fill out your details and we'll give you a call</h6>
        </div>
        <form action="" method="">
            <div class="namediv inputs">
                <input type="text" required>
                <label for="">Name</label>
            </div>
            <div class="number inputs">
                <input type="text" required>
                <label for="">Contact</label>
            </div>
            <div class="email inputs">
                <input type="email" required>
                <label for="">Email</label>
            </div>
            <div class="subject inputs">
                <input type="text" required>
                <label for="">Subject</label>
            </div>
            <div class="textbox inputs">
                <textarea name="message" id="" cols="30" rows="04" required></textarea>
                <label for="">Message</label>
            </div>
            <div class="formButton flex item-center justify-center my-8 mt-12">
                <button type="submit" class="px-8 py-1 rounded-xl">Submit</button>
            </div>
        </form>


    </div>
</section>
