<section class="about_UsPage">
    <div class="image">

    </div>
    <div class="about_usText">
        <div class="about_us_heading">
            <h1>Deep Cleaning Service</h1>
        </div>
        <div class="para">
            <p class="text-center">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam qui amet deleniti non animi,
                impedit asperiores nulla quasi maiores hic reprehenderit eaque accusamus aliquid veritatis iusto
                exercitationem consequuntur mollitia dignissimos.Atque nulla delectus, omnis earum repellendus
                autem quis in voluptate corrupti similique commodi? Possimus ipsa dolor officia, ex ea omnis
                tenetur eum labore atque corporis aliquid dignissimos magnam expedita quae.
                Deleniti reiciendis qui quam laborum nulla deserunt aut incidunt vel cumque? Dignissimos, atque?
                Doloremque ipsum saepe dolor obcaecati dolore vero illum vel, error quisquam neque laboriosam
                minima soluta debitis quasi! Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis,
                aspernatur. Consequatur harum impedit expedita odio dolorem repellat ducimus voluptatum provident
                quis laborum, incidunt magnam consectetur maxime, a recusandae perspiciatis non.
            </p>
        </div>
    </div>
    <div class="flex justify-center item-center">

        <div class="flex flex-col mx-12">
            <svg xmlns="http://www.w3.org/2000/svg" height="90" viewBox="0 0 146.782 151.995">
                <g transform="translate(-895.889 -2661.818)">
                    <g transform="translate(897.569 2663.55)">
                        <path
                            d="M79.2,8.361H71.334V2.886a8.443,8.443,0,1,0-16.877,0V8.361H40.508V2.886a8.441,8.441,0,1,0-16.875,0V8.361H9.685V2.886a8.58,8.58,0,0,0-8.437-8.7,8.581,8.581,0,0,0-8.44,8.7V8.361H-21.139V2.886a8.582,8.582,0,0,0-8.44-8.7,8.58,8.58,0,0,0-8.437,8.7V8.361h-7.862a9.329,9.329,0,0,0-9.174,9.459V37.253a2.138,2.138,0,0,0,2.1,2.17H86.265a2.138,2.138,0,0,0,2.1-2.17V17.82A9.329,9.329,0,0,0,79.2,8.361m-20.528,2.17V2.886a4.23,4.23,0,1,1,8.457,0V18.554a4.353,4.353,0,0,1-2.973,4.163,4.091,4.091,0,0,1-2.512,0,4.35,4.35,0,0,1-2.973-4.163ZM27.842,2.886a4.23,4.23,0,1,1,8.457,0V18.554a4.23,4.23,0,1,1-8.457,0ZM-2.981,10.531V2.886a4.3,4.3,0,0,1,4.228-4.36,4.3,4.3,0,0,1,4.228,4.36V18.554a4.3,4.3,0,0,1-4.228,4.36,4.3,4.3,0,0,1-4.228-4.36Zm-30.826,0V2.886a4.3,4.3,0,0,1,4.228-4.36,4.3,4.3,0,0,1,4.228,4.36V18.554a4.35,4.35,0,0,1-2.973,4.163,4.041,4.041,0,0,1-1.256.2,4.053,4.053,0,0,1-1.256-.2,4.353,4.353,0,0,1-2.973-4.163ZM84.161,35.083h-135V17.82A5.048,5.048,0,0,1-45.878,12.7h7.862v5.853a8.581,8.581,0,0,0,8.437,8.7,8.581,8.581,0,0,0,8.437-8.7V12.7H-7.193v5.853a8.583,8.583,0,0,0,8.44,8.7,8.581,8.581,0,0,0,8.437-8.7V12.7H23.633v5.853a8.441,8.441,0,1,0,16.875,0V12.7H54.457v5.853a8.443,8.443,0,1,0,16.877,0V12.7H79.2a5.048,5.048,0,0,1,4.965,5.119Z"
                            transform="translate(55.052 5.812)" fill="#e37321"></path>
                    </g>
                    <g transform="translate(895.889 2661.818)">
                        <path
                            d="M84.357,28.728H-54.858a3.848,3.848,0,0,1-3.782-3.9V5.393A11.038,11.038,0,0,1-47.786-5.8H-41.6V-9.54A10.289,10.289,0,0,1-31.487-19.97,10.289,10.289,0,0,1-21.369-9.54V-5.8h10.591V-9.54A10.289,10.289,0,0,1-.663-19.97,10.289,10.289,0,0,1,9.454-9.54V-5.8H20.045V-9.54A10.289,10.289,0,0,1,30.163-19.97,10.289,10.289,0,0,1,40.28-9.54V-5.8H50.869V-9.54A10.289,10.289,0,0,1,60.986-19.97,10.291,10.291,0,0,1,71.106-9.54V-5.8h6.182A10.616,10.616,0,0,1,84.96-2.515a11.281,11.281,0,0,1,3.182,7.908V24.826a3.85,3.85,0,0,1-3.785,3.9M-47.786-2.334a7.624,7.624,0,0,0-7.5,7.728V24.826a.433.433,0,0,0,.424.439H84.357a.435.435,0,0,0,.427-.439V5.393a7.8,7.8,0,0,0-2.2-5.462,7.335,7.335,0,0,0-5.3-2.265h-9.54V-9.54a6.875,6.875,0,0,0-6.762-6.967,6.875,6.875,0,0,0-6.76,6.967v7.206h-17.3V-9.54a6.875,6.875,0,0,0-6.76-6.967A6.875,6.875,0,0,0,23.4-9.54v7.206H6.1V-9.54a6.873,6.873,0,0,0-6.76-6.967A6.873,6.873,0,0,0-7.42-9.54v7.206H-24.727V-9.54a6.875,6.875,0,0,0-6.76-6.967,6.875,6.875,0,0,0-6.76,6.967v7.206ZM83.931,24.387H-54.431V5.393a6.757,6.757,0,0,1,6.645-6.85h9.54V6.13a6.875,6.875,0,0,0,6.76,6.967,6.875,6.875,0,0,0,6.76-6.967V-1.456H-7.42V6.13A6.873,6.873,0,0,0-.663,13.1,6.873,6.873,0,0,0,6.1,6.13V-1.456H23.4V6.13a6.763,6.763,0,1,0,13.519,0V-1.456h17.3V6.13a6.763,6.763,0,1,0,13.519,0V-1.456h9.542a6.756,6.756,0,0,1,6.643,6.85Zm-135-3.463H80.573V5.393a3.34,3.34,0,0,0-3.285-3.387H71.1V6.13a10.122,10.122,0,1,1-20.235,0V2.006H40.28V6.13A10.289,10.289,0,0,1,30.163,16.56,10.289,10.289,0,0,1,20.045,6.13V2.006H9.454V6.13A10.289,10.289,0,0,1-.663,16.56,10.289,10.289,0,0,1-10.778,6.13V2.006H-21.369V6.13A10.289,10.289,0,0,1-31.487,16.56,10.289,10.289,0,0,1-41.6,6.13V2.006h-6.182a3.342,3.342,0,0,0-3.287,3.387ZM60.986,12.219a5.791,5.791,0,0,1-1.756-.273A6.05,6.05,0,0,1,55.08,6.13V-9.54a6.007,6.007,0,0,1,5.906-6.089A6.008,6.008,0,0,1,66.895-9.54V6.13a6.049,6.049,0,0,1-4.153,5.816,5.756,5.756,0,0,1-1.756.273m0-24.386A2.591,2.591,0,0,0,58.438-9.54V6.13A2.647,2.647,0,0,0,60.23,8.639a2.5,2.5,0,0,0,1.512,0A2.646,2.646,0,0,0,63.537,6.13V-9.54a2.592,2.592,0,0,0-2.551-2.626M30.163,12.219A6.006,6.006,0,0,1,24.257,6.13V-9.54a6.006,6.006,0,0,1,5.906-6.089A6.008,6.008,0,0,1,36.071-9.54V6.13a6.008,6.008,0,0,1-5.909,6.089m0-24.386A2.592,2.592,0,0,0,27.612-9.54V6.13a2.552,2.552,0,1,0,5.1,0V-9.54a2.592,2.592,0,0,0-2.551-2.626M-.663,12.219A6.007,6.007,0,0,1-6.569,6.13V-9.54A6.007,6.007,0,0,1-.663-15.629,6.008,6.008,0,0,1,5.245-9.54V6.13A6.008,6.008,0,0,1-.663,12.219m0-24.386A2.591,2.591,0,0,0-3.211-9.54V6.13A2.591,2.591,0,0,0-.663,8.756,2.592,2.592,0,0,0,1.888,6.13V-9.54A2.592,2.592,0,0,0-.663-12.167M-31.487,12.219a5.791,5.791,0,0,1-1.756-.273A6.049,6.049,0,0,1-37.4,6.13V-9.54a6.008,6.008,0,0,1,5.909-6.089A6.006,6.006,0,0,1-25.58-9.54V6.13a6.047,6.047,0,0,1-4.15,5.816,5.791,5.791,0,0,1-1.756.273m0-24.386A2.592,2.592,0,0,0-34.037-9.54V6.13a2.646,2.646,0,0,0,1.795,2.509,2.5,2.5,0,0,0,1.512,0A2.646,2.646,0,0,0-28.936,6.13V-9.54a2.592,2.592,0,0,0-2.551-2.626"
                            transform="translate(58.64 19.97)" fill="#e37321"></path>
                    </g>
                    <g transform="translate(897.567 2714.586)">
                        <path
                            d="M83.368.15a2.137,2.137,0,0,0-2.1,2.17V87.933A5.049,5.049,0,0,1,76.3,93.052H-48.776a5.049,5.049,0,0,1-4.965-5.119V2.066a2.14,2.14,0,0,0-2.1-2.17,2.14,2.14,0,0,0-2.107,2.17V87.933a9.331,9.331,0,0,0,9.176,9.459H76.3a9.329,9.329,0,0,0,9.174-9.459V2.32a2.137,2.137,0,0,0-2.1-2.17"
                            transform="translate(57.952 0.104)" fill="#e37321"></path>
                    </g>
                    <g transform="translate(895.889 2712.857)">
                        <path
                            d="M80.187,59.557H-44.889a10.627,10.627,0,0,1-7.672-3.28,11.3,11.3,0,0,1-3.18-7.911V-37.5a3.847,3.847,0,0,1,3.785-3.9,3.846,3.846,0,0,1,3.782,3.9V48.366a3.342,3.342,0,0,0,3.285,3.387H80.187a3.342,3.342,0,0,0,3.285-3.387V-37.247a3.849,3.849,0,0,1,3.785-3.9,3.706,3.706,0,0,1,2.675,1.144,3.917,3.917,0,0,1,1.107,2.76V48.366A11.038,11.038,0,0,1,80.187,59.557M-51.956-37.937a.431.431,0,0,0-.427.437V48.366a7.8,7.8,0,0,0,2.2,5.462,7.339,7.339,0,0,0,5.3,2.265H80.187a7.62,7.62,0,0,0,7.494-7.728V-37.247a.436.436,0,0,0-.122-.31.414.414,0,0,0-.3-.129.433.433,0,0,0-.427.439V48.366a6.756,6.756,0,0,1-6.643,6.85H-44.889a6.758,6.758,0,0,1-6.643-6.85V-37.5a.43.43,0,0,0-.424-.437"
                            transform="translate(55.741 41.4)" fill="#e37321"></path>
                    </g>
                    <g transform="translate(924.544 2718.329)">
                        <path
                            d="M1.981,47.933A3.411,3.411,0,0,1-1.377,44.47V-29.857A3.411,3.411,0,0,1,1.981-33.32a3.411,3.411,0,0,1,3.358,3.463V44.47a3.411,3.411,0,0,1-3.358,3.463"
                            transform="translate(1.377 33.32)" fill="#e37321"></path>
                    </g>
                    <g transform="translate(951.534 2718.329)">
                        <path
                            d="M1.981,47.933A3.411,3.411,0,0,1-1.377,44.47V-29.857A3.411,3.411,0,0,1,1.981-33.32a3.411,3.411,0,0,1,3.358,3.463V44.47a3.411,3.411,0,0,1-3.358,3.463"
                            transform="translate(1.377 33.32)" fill="#e37321"></path>
                    </g>
                    <g transform="translate(978.526 2718.329)">
                        <path
                            d="M1.981,47.933A3.411,3.411,0,0,1-1.377,44.47V-29.857A3.411,3.411,0,0,1,1.981-33.32a3.411,3.411,0,0,1,3.358,3.463V44.47a3.411,3.411,0,0,1-3.358,3.463"
                            transform="translate(1.377 33.32)" fill="#e37321"></path>
                    </g>
                    <g transform="translate(914.154 2742.071)">
                        <path
                            d="M63.058,4.084H-40.476A3.413,3.413,0,0,1-43.834.621a3.411,3.411,0,0,1,3.358-3.46H63.058A3.409,3.409,0,0,1,66.416.621a3.411,3.411,0,0,1-3.358,3.463"
                            transform="translate(43.834 2.839)" fill="#e37321"></path>
                    </g>
                    <g transform="translate(914.154 2771.064)">
                        <path
                            d="M63.058,4.084H-40.476A3.413,3.413,0,0,1-43.834.621a3.411,3.411,0,0,1,3.358-3.46H63.058A3.409,3.409,0,0,1,66.416.621a3.411,3.411,0,0,1-3.358,3.463"
                            transform="translate(43.834 2.839)" fill="#e37321"></path>
                    </g>
                    <g transform="translate(1005.517 2718.329)">
                        <path
                            d="M1.981,47.933A3.411,3.411,0,0,1-1.377,44.47V-29.857A3.411,3.411,0,0,1,1.981-33.32a3.411,3.411,0,0,1,3.358,3.463V44.47a3.411,3.411,0,0,1-3.358,3.463"
                            transform="translate(1.377 33.32)" fill="#e37321"></path>
                    </g>
                </g>
            </svg>
            <div class="text-center mt-8">
                <span class="textpink text-center font-bold text-2xl pb-12">Book</span>
                <p class="textblack text-center">Select thee date and time <br>you'd like your <br>professional to show up</p>
            </div>
        </div>


        <div class="flex flex-col mx-12">
            <svg xmlns="http://www.w3.org/2000/svg" height="90" viewBox="0 0 146.782 151.995">
                <g transform="translate(-895.889 -2661.818)">
                    <g transform="translate(897.569 2663.55)">
                        <path
                            d="M79.2,8.361H71.334V2.886a8.443,8.443,0,1,0-16.877,0V8.361H40.508V2.886a8.441,8.441,0,1,0-16.875,0V8.361H9.685V2.886a8.58,8.58,0,0,0-8.437-8.7,8.581,8.581,0,0,0-8.44,8.7V8.361H-21.139V2.886a8.582,8.582,0,0,0-8.44-8.7,8.58,8.58,0,0,0-8.437,8.7V8.361h-7.862a9.329,9.329,0,0,0-9.174,9.459V37.253a2.138,2.138,0,0,0,2.1,2.17H86.265a2.138,2.138,0,0,0,2.1-2.17V17.82A9.329,9.329,0,0,0,79.2,8.361m-20.528,2.17V2.886a4.23,4.23,0,1,1,8.457,0V18.554a4.353,4.353,0,0,1-2.973,4.163,4.091,4.091,0,0,1-2.512,0,4.35,4.35,0,0,1-2.973-4.163ZM27.842,2.886a4.23,4.23,0,1,1,8.457,0V18.554a4.23,4.23,0,1,1-8.457,0ZM-2.981,10.531V2.886a4.3,4.3,0,0,1,4.228-4.36,4.3,4.3,0,0,1,4.228,4.36V18.554a4.3,4.3,0,0,1-4.228,4.36,4.3,4.3,0,0,1-4.228-4.36Zm-30.826,0V2.886a4.3,4.3,0,0,1,4.228-4.36,4.3,4.3,0,0,1,4.228,4.36V18.554a4.35,4.35,0,0,1-2.973,4.163,4.041,4.041,0,0,1-1.256.2,4.053,4.053,0,0,1-1.256-.2,4.353,4.353,0,0,1-2.973-4.163ZM84.161,35.083h-135V17.82A5.048,5.048,0,0,1-45.878,12.7h7.862v5.853a8.581,8.581,0,0,0,8.437,8.7,8.581,8.581,0,0,0,8.437-8.7V12.7H-7.193v5.853a8.583,8.583,0,0,0,8.44,8.7,8.581,8.581,0,0,0,8.437-8.7V12.7H23.633v5.853a8.441,8.441,0,1,0,16.875,0V12.7H54.457v5.853a8.443,8.443,0,1,0,16.877,0V12.7H79.2a5.048,5.048,0,0,1,4.965,5.119Z"
                            transform="translate(55.052 5.812)" fill="#e37321"></path>
                    </g>
                    <g transform="translate(895.889 2661.818)">
                        <path
                            d="M84.357,28.728H-54.858a3.848,3.848,0,0,1-3.782-3.9V5.393A11.038,11.038,0,0,1-47.786-5.8H-41.6V-9.54A10.289,10.289,0,0,1-31.487-19.97,10.289,10.289,0,0,1-21.369-9.54V-5.8h10.591V-9.54A10.289,10.289,0,0,1-.663-19.97,10.289,10.289,0,0,1,9.454-9.54V-5.8H20.045V-9.54A10.289,10.289,0,0,1,30.163-19.97,10.289,10.289,0,0,1,40.28-9.54V-5.8H50.869V-9.54A10.289,10.289,0,0,1,60.986-19.97,10.291,10.291,0,0,1,71.106-9.54V-5.8h6.182A10.616,10.616,0,0,1,84.96-2.515a11.281,11.281,0,0,1,3.182,7.908V24.826a3.85,3.85,0,0,1-3.785,3.9M-47.786-2.334a7.624,7.624,0,0,0-7.5,7.728V24.826a.433.433,0,0,0,.424.439H84.357a.435.435,0,0,0,.427-.439V5.393a7.8,7.8,0,0,0-2.2-5.462,7.335,7.335,0,0,0-5.3-2.265h-9.54V-9.54a6.875,6.875,0,0,0-6.762-6.967,6.875,6.875,0,0,0-6.76,6.967v7.206h-17.3V-9.54a6.875,6.875,0,0,0-6.76-6.967A6.875,6.875,0,0,0,23.4-9.54v7.206H6.1V-9.54a6.873,6.873,0,0,0-6.76-6.967A6.873,6.873,0,0,0-7.42-9.54v7.206H-24.727V-9.54a6.875,6.875,0,0,0-6.76-6.967,6.875,6.875,0,0,0-6.76,6.967v7.206ZM83.931,24.387H-54.431V5.393a6.757,6.757,0,0,1,6.645-6.85h9.54V6.13a6.875,6.875,0,0,0,6.76,6.967,6.875,6.875,0,0,0,6.76-6.967V-1.456H-7.42V6.13A6.873,6.873,0,0,0-.663,13.1,6.873,6.873,0,0,0,6.1,6.13V-1.456H23.4V6.13a6.763,6.763,0,1,0,13.519,0V-1.456h17.3V6.13a6.763,6.763,0,1,0,13.519,0V-1.456h9.542a6.756,6.756,0,0,1,6.643,6.85Zm-135-3.463H80.573V5.393a3.34,3.34,0,0,0-3.285-3.387H71.1V6.13a10.122,10.122,0,1,1-20.235,0V2.006H40.28V6.13A10.289,10.289,0,0,1,30.163,16.56,10.289,10.289,0,0,1,20.045,6.13V2.006H9.454V6.13A10.289,10.289,0,0,1-.663,16.56,10.289,10.289,0,0,1-10.778,6.13V2.006H-21.369V6.13A10.289,10.289,0,0,1-31.487,16.56,10.289,10.289,0,0,1-41.6,6.13V2.006h-6.182a3.342,3.342,0,0,0-3.287,3.387ZM60.986,12.219a5.791,5.791,0,0,1-1.756-.273A6.05,6.05,0,0,1,55.08,6.13V-9.54a6.007,6.007,0,0,1,5.906-6.089A6.008,6.008,0,0,1,66.895-9.54V6.13a6.049,6.049,0,0,1-4.153,5.816,5.756,5.756,0,0,1-1.756.273m0-24.386A2.591,2.591,0,0,0,58.438-9.54V6.13A2.647,2.647,0,0,0,60.23,8.639a2.5,2.5,0,0,0,1.512,0A2.646,2.646,0,0,0,63.537,6.13V-9.54a2.592,2.592,0,0,0-2.551-2.626M30.163,12.219A6.006,6.006,0,0,1,24.257,6.13V-9.54a6.006,6.006,0,0,1,5.906-6.089A6.008,6.008,0,0,1,36.071-9.54V6.13a6.008,6.008,0,0,1-5.909,6.089m0-24.386A2.592,2.592,0,0,0,27.612-9.54V6.13a2.552,2.552,0,1,0,5.1,0V-9.54a2.592,2.592,0,0,0-2.551-2.626M-.663,12.219A6.007,6.007,0,0,1-6.569,6.13V-9.54A6.007,6.007,0,0,1-.663-15.629,6.008,6.008,0,0,1,5.245-9.54V6.13A6.008,6.008,0,0,1-.663,12.219m0-24.386A2.591,2.591,0,0,0-3.211-9.54V6.13A2.591,2.591,0,0,0-.663,8.756,2.592,2.592,0,0,0,1.888,6.13V-9.54A2.592,2.592,0,0,0-.663-12.167M-31.487,12.219a5.791,5.791,0,0,1-1.756-.273A6.049,6.049,0,0,1-37.4,6.13V-9.54a6.008,6.008,0,0,1,5.909-6.089A6.006,6.006,0,0,1-25.58-9.54V6.13a6.047,6.047,0,0,1-4.15,5.816,5.791,5.791,0,0,1-1.756.273m0-24.386A2.592,2.592,0,0,0-34.037-9.54V6.13a2.646,2.646,0,0,0,1.795,2.509,2.5,2.5,0,0,0,1.512,0A2.646,2.646,0,0,0-28.936,6.13V-9.54a2.592,2.592,0,0,0-2.551-2.626"
                            transform="translate(58.64 19.97)" fill="#e37321"></path>
                    </g>
                    <g transform="translate(897.567 2714.586)">
                        <path
                            d="M83.368.15a2.137,2.137,0,0,0-2.1,2.17V87.933A5.049,5.049,0,0,1,76.3,93.052H-48.776a5.049,5.049,0,0,1-4.965-5.119V2.066a2.14,2.14,0,0,0-2.1-2.17,2.14,2.14,0,0,0-2.107,2.17V87.933a9.331,9.331,0,0,0,9.176,9.459H76.3a9.329,9.329,0,0,0,9.174-9.459V2.32a2.137,2.137,0,0,0-2.1-2.17"
                            transform="translate(57.952 0.104)" fill="#e37321"></path>
                    </g>
                    <g transform="translate(895.889 2712.857)">
                        <path
                            d="M80.187,59.557H-44.889a10.627,10.627,0,0,1-7.672-3.28,11.3,11.3,0,0,1-3.18-7.911V-37.5a3.847,3.847,0,0,1,3.785-3.9,3.846,3.846,0,0,1,3.782,3.9V48.366a3.342,3.342,0,0,0,3.285,3.387H80.187a3.342,3.342,0,0,0,3.285-3.387V-37.247a3.849,3.849,0,0,1,3.785-3.9,3.706,3.706,0,0,1,2.675,1.144,3.917,3.917,0,0,1,1.107,2.76V48.366A11.038,11.038,0,0,1,80.187,59.557M-51.956-37.937a.431.431,0,0,0-.427.437V48.366a7.8,7.8,0,0,0,2.2,5.462,7.339,7.339,0,0,0,5.3,2.265H80.187a7.62,7.62,0,0,0,7.494-7.728V-37.247a.436.436,0,0,0-.122-.31.414.414,0,0,0-.3-.129.433.433,0,0,0-.427.439V48.366a6.756,6.756,0,0,1-6.643,6.85H-44.889a6.758,6.758,0,0,1-6.643-6.85V-37.5a.43.43,0,0,0-.424-.437"
                            transform="translate(55.741 41.4)" fill="#e37321"></path>
                    </g>
                    <g transform="translate(924.544 2718.329)">
                        <path
                            d="M1.981,47.933A3.411,3.411,0,0,1-1.377,44.47V-29.857A3.411,3.411,0,0,1,1.981-33.32a3.411,3.411,0,0,1,3.358,3.463V44.47a3.411,3.411,0,0,1-3.358,3.463"
                            transform="translate(1.377 33.32)" fill="#e37321"></path>
                    </g>
                    <g transform="translate(951.534 2718.329)">
                        <path
                            d="M1.981,47.933A3.411,3.411,0,0,1-1.377,44.47V-29.857A3.411,3.411,0,0,1,1.981-33.32a3.411,3.411,0,0,1,3.358,3.463V44.47a3.411,3.411,0,0,1-3.358,3.463"
                            transform="translate(1.377 33.32)" fill="#e37321"></path>
                    </g>
                    <g transform="translate(978.526 2718.329)">
                        <path
                            d="M1.981,47.933A3.411,3.411,0,0,1-1.377,44.47V-29.857A3.411,3.411,0,0,1,1.981-33.32a3.411,3.411,0,0,1,3.358,3.463V44.47a3.411,3.411,0,0,1-3.358,3.463"
                            transform="translate(1.377 33.32)" fill="#e37321"></path>
                    </g>
                    <g transform="translate(914.154 2742.071)">
                        <path
                            d="M63.058,4.084H-40.476A3.413,3.413,0,0,1-43.834.621a3.411,3.411,0,0,1,3.358-3.46H63.058A3.409,3.409,0,0,1,66.416.621a3.411,3.411,0,0,1-3.358,3.463"
                            transform="translate(43.834 2.839)" fill="#e37321"></path>
                    </g>
                    <g transform="translate(914.154 2771.064)">
                        <path
                            d="M63.058,4.084H-40.476A3.413,3.413,0,0,1-43.834.621a3.411,3.411,0,0,1,3.358-3.46H63.058A3.409,3.409,0,0,1,66.416.621a3.411,3.411,0,0,1-3.358,3.463"
                            transform="translate(43.834 2.839)" fill="#e37321"></path>
                    </g>
                    <g transform="translate(1005.517 2718.329)">
                        <path
                            d="M1.981,47.933A3.411,3.411,0,0,1-1.377,44.47V-29.857A3.411,3.411,0,0,1,1.981-33.32a3.411,3.411,0,0,1,3.358,3.463V44.47a3.411,3.411,0,0,1-3.358,3.463"
                            transform="translate(1.377 33.32)" fill="#e37321"></path>
                    </g>
                </g>
            </svg>
            <div class="text-center mt-8">
                <span class="textpink text-center font-bold text-2xl pb-12">Clean</span>
                <p class="textblack text-center">A trusted cleaner comes <br>over <br>and cleans your home</p>
            </div>
        </div>



        <div class="flex flex-col mx-12">
            <svg xmlns="http://www.w3.org/2000/svg" height="90" viewBox="0 0 146.782 151.995">
                <g transform="translate(-895.889 -2661.818)">
                    <g transform="translate(897.569 2663.55)">
                        <path
                            d="M79.2,8.361H71.334V2.886a8.443,8.443,0,1,0-16.877,0V8.361H40.508V2.886a8.441,8.441,0,1,0-16.875,0V8.361H9.685V2.886a8.58,8.58,0,0,0-8.437-8.7,8.581,8.581,0,0,0-8.44,8.7V8.361H-21.139V2.886a8.582,8.582,0,0,0-8.44-8.7,8.58,8.58,0,0,0-8.437,8.7V8.361h-7.862a9.329,9.329,0,0,0-9.174,9.459V37.253a2.138,2.138,0,0,0,2.1,2.17H86.265a2.138,2.138,0,0,0,2.1-2.17V17.82A9.329,9.329,0,0,0,79.2,8.361m-20.528,2.17V2.886a4.23,4.23,0,1,1,8.457,0V18.554a4.353,4.353,0,0,1-2.973,4.163,4.091,4.091,0,0,1-2.512,0,4.35,4.35,0,0,1-2.973-4.163ZM27.842,2.886a4.23,4.23,0,1,1,8.457,0V18.554a4.23,4.23,0,1,1-8.457,0ZM-2.981,10.531V2.886a4.3,4.3,0,0,1,4.228-4.36,4.3,4.3,0,0,1,4.228,4.36V18.554a4.3,4.3,0,0,1-4.228,4.36,4.3,4.3,0,0,1-4.228-4.36Zm-30.826,0V2.886a4.3,4.3,0,0,1,4.228-4.36,4.3,4.3,0,0,1,4.228,4.36V18.554a4.35,4.35,0,0,1-2.973,4.163,4.041,4.041,0,0,1-1.256.2,4.053,4.053,0,0,1-1.256-.2,4.353,4.353,0,0,1-2.973-4.163ZM84.161,35.083h-135V17.82A5.048,5.048,0,0,1-45.878,12.7h7.862v5.853a8.581,8.581,0,0,0,8.437,8.7,8.581,8.581,0,0,0,8.437-8.7V12.7H-7.193v5.853a8.583,8.583,0,0,0,8.44,8.7,8.581,8.581,0,0,0,8.437-8.7V12.7H23.633v5.853a8.441,8.441,0,1,0,16.875,0V12.7H54.457v5.853a8.443,8.443,0,1,0,16.877,0V12.7H79.2a5.048,5.048,0,0,1,4.965,5.119Z"
                            transform="translate(55.052 5.812)" fill="#e37321"></path>
                    </g>
                    <g transform="translate(895.889 2661.818)">
                        <path
                            d="M84.357,28.728H-54.858a3.848,3.848,0,0,1-3.782-3.9V5.393A11.038,11.038,0,0,1-47.786-5.8H-41.6V-9.54A10.289,10.289,0,0,1-31.487-19.97,10.289,10.289,0,0,1-21.369-9.54V-5.8h10.591V-9.54A10.289,10.289,0,0,1-.663-19.97,10.289,10.289,0,0,1,9.454-9.54V-5.8H20.045V-9.54A10.289,10.289,0,0,1,30.163-19.97,10.289,10.289,0,0,1,40.28-9.54V-5.8H50.869V-9.54A10.289,10.289,0,0,1,60.986-19.97,10.291,10.291,0,0,1,71.106-9.54V-5.8h6.182A10.616,10.616,0,0,1,84.96-2.515a11.281,11.281,0,0,1,3.182,7.908V24.826a3.85,3.85,0,0,1-3.785,3.9M-47.786-2.334a7.624,7.624,0,0,0-7.5,7.728V24.826a.433.433,0,0,0,.424.439H84.357a.435.435,0,0,0,.427-.439V5.393a7.8,7.8,0,0,0-2.2-5.462,7.335,7.335,0,0,0-5.3-2.265h-9.54V-9.54a6.875,6.875,0,0,0-6.762-6.967,6.875,6.875,0,0,0-6.76,6.967v7.206h-17.3V-9.54a6.875,6.875,0,0,0-6.76-6.967A6.875,6.875,0,0,0,23.4-9.54v7.206H6.1V-9.54a6.873,6.873,0,0,0-6.76-6.967A6.873,6.873,0,0,0-7.42-9.54v7.206H-24.727V-9.54a6.875,6.875,0,0,0-6.76-6.967,6.875,6.875,0,0,0-6.76,6.967v7.206ZM83.931,24.387H-54.431V5.393a6.757,6.757,0,0,1,6.645-6.85h9.54V6.13a6.875,6.875,0,0,0,6.76,6.967,6.875,6.875,0,0,0,6.76-6.967V-1.456H-7.42V6.13A6.873,6.873,0,0,0-.663,13.1,6.873,6.873,0,0,0,6.1,6.13V-1.456H23.4V6.13a6.763,6.763,0,1,0,13.519,0V-1.456h17.3V6.13a6.763,6.763,0,1,0,13.519,0V-1.456h9.542a6.756,6.756,0,0,1,6.643,6.85Zm-135-3.463H80.573V5.393a3.34,3.34,0,0,0-3.285-3.387H71.1V6.13a10.122,10.122,0,1,1-20.235,0V2.006H40.28V6.13A10.289,10.289,0,0,1,30.163,16.56,10.289,10.289,0,0,1,20.045,6.13V2.006H9.454V6.13A10.289,10.289,0,0,1-.663,16.56,10.289,10.289,0,0,1-10.778,6.13V2.006H-21.369V6.13A10.289,10.289,0,0,1-31.487,16.56,10.289,10.289,0,0,1-41.6,6.13V2.006h-6.182a3.342,3.342,0,0,0-3.287,3.387ZM60.986,12.219a5.791,5.791,0,0,1-1.756-.273A6.05,6.05,0,0,1,55.08,6.13V-9.54a6.007,6.007,0,0,1,5.906-6.089A6.008,6.008,0,0,1,66.895-9.54V6.13a6.049,6.049,0,0,1-4.153,5.816,5.756,5.756,0,0,1-1.756.273m0-24.386A2.591,2.591,0,0,0,58.438-9.54V6.13A2.647,2.647,0,0,0,60.23,8.639a2.5,2.5,0,0,0,1.512,0A2.646,2.646,0,0,0,63.537,6.13V-9.54a2.592,2.592,0,0,0-2.551-2.626M30.163,12.219A6.006,6.006,0,0,1,24.257,6.13V-9.54a6.006,6.006,0,0,1,5.906-6.089A6.008,6.008,0,0,1,36.071-9.54V6.13a6.008,6.008,0,0,1-5.909,6.089m0-24.386A2.592,2.592,0,0,0,27.612-9.54V6.13a2.552,2.552,0,1,0,5.1,0V-9.54a2.592,2.592,0,0,0-2.551-2.626M-.663,12.219A6.007,6.007,0,0,1-6.569,6.13V-9.54A6.007,6.007,0,0,1-.663-15.629,6.008,6.008,0,0,1,5.245-9.54V6.13A6.008,6.008,0,0,1-.663,12.219m0-24.386A2.591,2.591,0,0,0-3.211-9.54V6.13A2.591,2.591,0,0,0-.663,8.756,2.592,2.592,0,0,0,1.888,6.13V-9.54A2.592,2.592,0,0,0-.663-12.167M-31.487,12.219a5.791,5.791,0,0,1-1.756-.273A6.049,6.049,0,0,1-37.4,6.13V-9.54a6.008,6.008,0,0,1,5.909-6.089A6.006,6.006,0,0,1-25.58-9.54V6.13a6.047,6.047,0,0,1-4.15,5.816,5.791,5.791,0,0,1-1.756.273m0-24.386A2.592,2.592,0,0,0-34.037-9.54V6.13a2.646,2.646,0,0,0,1.795,2.509,2.5,2.5,0,0,0,1.512,0A2.646,2.646,0,0,0-28.936,6.13V-9.54a2.592,2.592,0,0,0-2.551-2.626"
                            transform="translate(58.64 19.97)" fill="#e37321"></path>
                    </g>
                    <g transform="translate(897.567 2714.586)">
                        <path
                            d="M83.368.15a2.137,2.137,0,0,0-2.1,2.17V87.933A5.049,5.049,0,0,1,76.3,93.052H-48.776a5.049,5.049,0,0,1-4.965-5.119V2.066a2.14,2.14,0,0,0-2.1-2.17,2.14,2.14,0,0,0-2.107,2.17V87.933a9.331,9.331,0,0,0,9.176,9.459H76.3a9.329,9.329,0,0,0,9.174-9.459V2.32a2.137,2.137,0,0,0-2.1-2.17"
                            transform="translate(57.952 0.104)" fill="#e37321"></path>
                    </g>
                    <g transform="translate(895.889 2712.857)">
                        <path
                            d="M80.187,59.557H-44.889a10.627,10.627,0,0,1-7.672-3.28,11.3,11.3,0,0,1-3.18-7.911V-37.5a3.847,3.847,0,0,1,3.785-3.9,3.846,3.846,0,0,1,3.782,3.9V48.366a3.342,3.342,0,0,0,3.285,3.387H80.187a3.342,3.342,0,0,0,3.285-3.387V-37.247a3.849,3.849,0,0,1,3.785-3.9,3.706,3.706,0,0,1,2.675,1.144,3.917,3.917,0,0,1,1.107,2.76V48.366A11.038,11.038,0,0,1,80.187,59.557M-51.956-37.937a.431.431,0,0,0-.427.437V48.366a7.8,7.8,0,0,0,2.2,5.462,7.339,7.339,0,0,0,5.3,2.265H80.187a7.62,7.62,0,0,0,7.494-7.728V-37.247a.436.436,0,0,0-.122-.31.414.414,0,0,0-.3-.129.433.433,0,0,0-.427.439V48.366a6.756,6.756,0,0,1-6.643,6.85H-44.889a6.758,6.758,0,0,1-6.643-6.85V-37.5a.43.43,0,0,0-.424-.437"
                            transform="translate(55.741 41.4)" fill="#e37321"></path>
                    </g>
                    <g transform="translate(924.544 2718.329)">
                        <path
                            d="M1.981,47.933A3.411,3.411,0,0,1-1.377,44.47V-29.857A3.411,3.411,0,0,1,1.981-33.32a3.411,3.411,0,0,1,3.358,3.463V44.47a3.411,3.411,0,0,1-3.358,3.463"
                            transform="translate(1.377 33.32)" fill="#e37321"></path>
                    </g>
                    <g transform="translate(951.534 2718.329)">
                        <path
                            d="M1.981,47.933A3.411,3.411,0,0,1-1.377,44.47V-29.857A3.411,3.411,0,0,1,1.981-33.32a3.411,3.411,0,0,1,3.358,3.463V44.47a3.411,3.411,0,0,1-3.358,3.463"
                            transform="translate(1.377 33.32)" fill="#e37321"></path>
                    </g>
                    <g transform="translate(978.526 2718.329)">
                        <path
                            d="M1.981,47.933A3.411,3.411,0,0,1-1.377,44.47V-29.857A3.411,3.411,0,0,1,1.981-33.32a3.411,3.411,0,0,1,3.358,3.463V44.47a3.411,3.411,0,0,1-3.358,3.463"
                            transform="translate(1.377 33.32)" fill="#e37321"></path>
                    </g>
                    <g transform="translate(914.154 2742.071)">
                        <path
                            d="M63.058,4.084H-40.476A3.413,3.413,0,0,1-43.834.621a3.411,3.411,0,0,1,3.358-3.46H63.058A3.409,3.409,0,0,1,66.416.621a3.411,3.411,0,0,1-3.358,3.463"
                            transform="translate(43.834 2.839)" fill="#e37321"></path>
                    </g>
                    <g transform="translate(914.154 2771.064)">
                        <path
                            d="M63.058,4.084H-40.476A3.413,3.413,0,0,1-43.834.621a3.411,3.411,0,0,1,3.358-3.46H63.058A3.409,3.409,0,0,1,66.416.621a3.411,3.411,0,0,1-3.358,3.463"
                            transform="translate(43.834 2.839)" fill="#e37321"></path>
                    </g>
                    <g transform="translate(1005.517 2718.329)">
                        <path
                            d="M1.981,47.933A3.411,3.411,0,0,1-1.377,44.47V-29.857A3.411,3.411,0,0,1,1.981-33.32a3.411,3.411,0,0,1,3.358,3.463V44.47a3.411,3.411,0,0,1-3.358,3.463"
                            transform="translate(1.377 33.32)" fill="#e37321"></path>
                    </g>
                </g>
            </svg>
            <div class="text-center mt-8">
                <span class="textpink text-center font-bold text-2xl pb-12">Relax</span>
                <p class="textblack text-center">Sit back and rekax. Enjoy<br> your sparking home</p>
            </div>
        </div>

    </div>

    <div class="container mx-auto flex flex-col item-center justify-center text-center textblack pt-20 pb-6 px-3">
        <h1 class="font-black text-2xl py-3 textblack">HERE`S WHAT YOU GET</h1>
        <p class="text-center textgray psize">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi magnam laboriosam a doloremque. 
            Velit quasi accusamus soluta inventore facilis voluptate illum perferendis, incidunt aperiam cum, 
            sequi nesciunt similique! Ullam, reiciendis?</p>
        <div class="text-center py-6">
            <p class="textgray psize text-center">ALWAYS INCLUDED</p>
            <p class="textgray psize text-center">Trained Cleaning Team</p>
            <p class="textgray psize text-center">All supllies and tools(Vaccume, Mops, etc)</p>
            <p class="textgray psize text-center">Amazing & unlimited customer service through email, phone, chat,or etc</p>
            <p class="textgray psize text-center">100% Happiness gurrantee</p>
        </div>
        <p class="textgray psize text-center pb-8">Our staff is sure ti delight you with their friendliness and bubbly personalities while their 
            work will knock your socks off! Always eager to impress customers, HM Tech are no stranger to praise ! Call us today and we
        promise to live up to your expectation</p>
    </div>

</section>